# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://username:password@host:5432/database name?schema=public"
NEXT_PUBLIC_JWT_ACCESS_TOKEN_SECRET=
NEXT_PUBLIC_JWT_ACCESS_TOKEN_EXPIRATION=15m
NEXT_PUBLIC_JWT_REFRESH_TOKEN_SECRET=
NEXT_PUBLIC_JWT_REFRESH_TOKEN_EXPIRATION=30d
NEXT_PUBLIC_JWT_TWO_FACTOR_TOKEN_SECRET=
NEXT_PUBLIC_JWT_TWO_FACTOR_TOKEN_EXPIRATION=15m
NEXT_PUBLIC_LOCAL_APP_URL = 

# SMTP settings
EMAIL_SERVICE=
EMAIL_USER=
EMAIL_PASSWORD=
SENDGRID_API_KEY=
NEXT_PUBLIC_PROD_APP_URL=
PROD_DATABASE_URL = 
NEXT_PUBLIC_NODE_ENV=localhost