/* header.module.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #373a3f, #010f1e);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
  }
  
  .headerLeft {
    display: flex;
    align-items: center;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  .logoContainer img {
    border-radius: 24px;
    color: transparent;
    margin-right: 14px;
  }
  
  .logoImage {
    border-radius: 24px;
    color: transparent;
    margin-right: 14px;
  }
  
  .appName {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .headerRight {
    display: flex;
    align-items: center;
  }
  
  .welcomeText {
    margin-right: 20px;
  }
  
  .logoutButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
  }
  
  .logoutButton:hover {
    color: #ff4d4f;
  }
  